
<!DOCTYPE html>
<html>
<head>
  <title>DCGG - Basit URL Kısaltıcı</title>
    <meta property="og:title" content="DCGG.PW" />

<meta property="og:image" content="https://media.discordapp.net/attachments/1131700245554802818/1170059339793444924/20231103_205423_0000.png" />

<meta property="og:url" content="https://dcgg.pw" />

<meta property="og:description" content="Basit URL Kısaltıcı" />

    <meta property="og:color" content="#2169AC" />

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    * {
      font-family: 'Nunito', sans-serif;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    p {
      font-size: 16px;
    }
    body {
      /* opacity: 0; */
      /* animation: opacity 3s ease 0s 1 forwards; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    input {
      transition: box-shadow 0.3s ease;
      padding: 10px;
      font-size: 20px;
      border-radius: 3.5px;
      border: 1px solid lightgrey;
      margin-bottom: 10px;
      width: 400px;
    }

    input:focus {
      outline: 1px;
      border-color: rgba(58, 166, 121, 0.723);
    }

    button {
      cursor: pointer;
      padding: 15px; /* Increased padding for larger buttons */
      background-color: #3597ff; /* Blue color */
      color: white;
      height: 50px;
      width: 100%;
      border: none;
      font-size: 16.5px; /* Increased font size */
      border-radius: 5px;
      margin-right: 5px;
    }

    button:hover {
      background-color: rgb(17, 132, 255); /* Blue color */
    }

    /* Center the buttons */
    .buttons {
      display: flex;
      justify-content: center;
    }

    ::selection {
      background: #00b35f73;
    }

    button[disabled] {
      opacity: 0.6;
      background: #0056b3;
      cursor: not-allowed;
    }
    #kod{
      color: #474747;
      font-size: 16.5px;
      height: 52px;
    } #metin{
      color: #474747;
      font-size: 16.5px;
      height: 52px;
    }
  </style>
</head>

<body>
 
  <form  action="/kaydet" method="POST">
    <div class="inputs">
      <input type="url" id="metin" name="metin" placeholder="URL" required>

    <input type="text" id="kod" name="kod" readonly>
      
 
</div>
      <button id="kisalt" type="button" onclick="generateCode()">KISALT</button>
    <button type="submit">Kaydet</button>

  </form>
</body>
<script>
  function generateCode() {
    const metinInput = document.getElementById('metin');
    const kodGoster = document.getElementById('kodGoster');
    const kodInput = document.getElementById('kod');
    const kisalt = document.getElementById('kisalt');
    const url = metinInput.value;

    // 7 karakterlik rastgele bir kod oluşturun
    const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let kod = '';
    for (let i = 0; i < 7; i++) {
      const randomIndex = Math.floor(Math.random() * characters.length);
      kod += characters.charAt(randomIndex);
    }
    kisalt.style.display = 'none';
    // Oluşturulan kodu metin kutusuna yazdırın ve görünür yapın
    kodInput.value = kod;
    kodGoster.style.display = 'block';
    kisalt.style.display = 'none';
  }

  // Sayfa yüklendiğinde otomatik olarak kod oluştur
  window.onload = generateCode;
</script>
</html>
