<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bekleme Sayfası</title>
    <link rel="stylesheet" href="/css/wait.css">
    <script src="/js/wait.js"></script>
  </head>
  <body>
    <div id="countdown">10</div>

    <div id="hoco" class="hoco">
      <a id="linkGo" style="display: none" href="<%= metin %>">LİNKE GİT</a>
    </div>

  </body>
</html>
