body{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
height: 100%;
    overflow: hidden;
    justify-content: center;
}
.popup{
    height: auto;
    width: 430px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    border: 1px #fafafa solid;
}
.popup p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    font-size: 15px;
    width: 100%;
}
.kt{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}